<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1 class="mt-4">Lista de personajes</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>House</th>
                    <th>Wand Core</th>
                    <th>Wand Length</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="character : ${characters}">
                    <td th:text="${character.name}"></td>
                    <td th:text="${character.house}"></td>
                    <td th:text="${character.wand.get('core').asText()}"></td>
                    <td th:text="${character.wand.get('length').asText()}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
